body
{
background-color:pink;
}
.bagrndimg{
    background-image:()
	background-size:100% 100%;
	width:100%;
	height:100vh;
}
.menu{
	width:100%;
	height:100px;
	background-color:rgba(0,0,0,0.3);

}
.leftmenu{
	width:20%;
	line-height:80px;
	float:left;
}
.leftmenu h3{
padding-left:70px;
font-width:bold;
color:white;
font-size:22px;
font-family:
}
.wrapper img{
	width:20px;
}
.rightmenu{
	width:70%;
	height:100px;
	float:right;
	background-color:grey;
}
.rightmenu ul{
	margin-left:200px;
}
.rightmenu ul li{
	font-family:'Montserrat',sans-serif;
	display:inline-block;
	list-style:none;
	font-size:15px;
	color:white;
	font-weight:bold;
	line-height:100px;
	margin-left:40px;
	text-transform:uppercase;
}
#firstlist{
	color:orange;
}
.rightmenu ul li:hover{
	color:orange;
}
.text{
	width:100%;
	margin-top:185px;
	text-transform:uppercase;
	text-align:center;
	color:black;

}
.text h4{
	font-size:15px;
	font-family:'Open Sans',sans-serif;
}
.text h1{
	font-size:60px;
	font-family:'Open Sans',sans-serif;
	font-weight:700px;
	margin:14px 15px;
}
.text h3{
	font-size:10px;
	font-family:'Open Sans',sans-serif;
}


